<div class="container">
  <pre class="title text-center shadow-text">Game   of   Thrones   Death   Pool</pre>
  <div class='row my-atuo' style="padding-top:15%">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="bonus-card p-4">
        <div class="card-title text-center mb-4 mt-1 h3 shadow-text">If a user could be found with your credentials, an email to reset your password has been sent</div>
        <%= link_to 'Home', root_url, class:"btn btn-outline-light btn-block", role:"button" %>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
