<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-size:1.5rem">
      *** Major Spoilers ahead for the final episode ***
      <br/>
    </p>
    <div style="font-size:1rem">Hello <%= @user.username %>,</div>
    <p>
      I have received emails from people saying that Bran Stark holds the Iron Throne at the end of the season and others saying that no one holds the Iron Throne.
    </p>
    <p>
      I am opening up the question for everyone to answer. Please go to the following straw poll to answer the question.
      <br/>
      https://www.strawpoll.me/18023542
    </p>
    <p>
      <br/>
      Thank you,
      <br/>
      Pierce
      <br/>
      https://whitewalker.herokuapp.com/
    </p>
  </body>
</html>
