<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-size:1rem">Hello, <%= @user.username %></div>
    <p>
      Thank you for signing up for the Game of Thrones Death Pool!
    </p>
    <p>
      There is less than 1 week until the season premiere. The entry time will close 1 hour before the premiere (8:00 pm EDT / 6:00 pm MDT). After this time, you will NOT be able to make/update your predictions or bonus question responses.
    </p>
    <p>
      The last day to change your house allegiance is this Wednesday, April 10th. This is also the same day that the weekly house episode questions will be open for Episode 1. Each week, every house will be given 3 questions to answer about the upcoming episode; correctly answering these questions will award your house with points. Your answers will be locked at the same time as your predictions.
    </p>
    <p>
      There is still space for people to sign up and join the pool. Feel free to invite your friends and family to join. The last day to sign up is Saturday, April 13th.
    </p>
    <p>
      <br/>
      <% if @user.paid %>
      Thank you for already paying your entrance fee!
      <% else %>
      You have not yet paid your entrance fee. Please pay by the time the predictions close or your account will be deleted.
      <br/>
          If you live in Canada, you can either e-transfer $10 CAD to pierce.dejong45@gmail.com or pay in cash.
      <br/>
          If you live in the US, you can venmo $7.50 USD to Pierce-deJong.
      <% end %>
    </p>

    <p>
      <br/>
      Night Gathers, and now my watch begins.
    </p>
  </body>
</html>
