<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-size:1rem">Hello <%= @user.username %>,</div>
    <p>
      Thank you for signing up for the Game of Thrones Death Pool!
    </p>

    <p>
      This is a reminder that you have NOT yet paid your entrance fee. It is due within the next two hours, (6:00PM MDT, 8:00PM EDT)
      <br/>
          If you live in Canada, you can either e-transfer $10 CAD to pierce.dejong45@gmail.com or pay in cash. Please include your username in the e-transfer.
      <br/>
          If you live in the US, you can venmo $7.50 USD to Pierce-deJong. Please include your username in the venmo.
      <br/>
      <br/>
          ** If you can NOT pay by deadline, please reply to this email so that we can figure something out.  **
      <br/>
      <br/>
          ** If you have not paid or replied to this email by the due date your account will be removed at the above time. **
    </p>
    <p style="color:grey">
      Ignore this message if you do not intend on playing
    </p>
    <p>
      <br/>
      Thank you,
      <br/>
      Pierce
      <br/>
      <br/>
      Night Gathers, and now my watch begins.
    </p>
  </body>
</html>
