<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      To all -
    </p>
    <p>
      Thank you for participating in the pool! I thoroughly enjoyed creating it and it quickly became a much bigger project than anticipated.
    </p>
    <p>
      Yesterdays poll determined that <strong>"No One"</strong> is sitting on the Iron Throne at the end of the series. Congratulations to 14% of you who got this correct!
    </p>
    <p>
      No matter the how poor or good you thought the writing was this season, we can all agree that it was not predictable....
    </p>
    <p>
      Only 16% of the Pool predicted Arya Stark to kill the Night King.
    </p>
    <p>
      Only 13% thought that Daenerys was not pregnant.
    </p>
    <p>
      And destroyed or not, only 1 person thought Bran was going to sit on the Iron Throne!
    </p>
    <p style="font-size:1.25rem">
      Here are the Results!
      <br/>
      <br/>
      Tied for 1st Place: roblong and BobbyB (39 Points) $318.5 CAD / $229.05 USD each
      <br/>
      <br/>
      Tied for 3rd Place: Nanthank24 and cerusso (35 Points) $45.5 CAD / $34.15 USD each
      <br/>
      <br/>
      Free Folk has won the house championship (43 Points) $13 CAD / $9.76 USD each
    </p>
    <p>
      If you are one of the winners above or part of the above house, please reply to this email with how you would like me to send you your winnings.
    </p>
    <p>
      Thank you,
      <br/>
      - Pierce
      <br/>
      https://whitewalker.herokuapp.com/
    </p>
  </body>
</html>
