<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-size:1rem">Welcome, <%= @user.username %></div>
    <p>
      You have successfully signed up to the Death Pool
    </p>
    <p>
      To login, just follow this <a href="<%= @url %>">link</a>.
    </p>

    <p>
      Please read the <a href="<%=@url%>rules">rules and faq</a>
    </p>

    <p>
      Valar morghulis
    </p>
  </body>
</html>
