<div id="title" class="title text-center shadow-text">Drinking Game</div>
<table style="color:white;margin:0px; width:100%" class="table table-condensed ">
  <thead>
    <tr class="shadow-text table-top">
    <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center">Rule</th>
    </tr>
  </thead>
  <tbody class="unit-table">
    <% Drink.all.each do |d| %>
    <% if d.id%2 ==  0 %>
      <tr class="tablerow1" style="background-color:(240,240,240,0.4)">
    <% else %>
      <tr class="tablerow2 shadow-text" style="background-color:rgba(0, 0, 0, 0.4)">
    <% end %>
      <% if d.hardcore %>
        <td class="text-center hardcore character-name">Hardcore</td>
      <%else%>
        <td></td>
      <%end%>
        <td class="drink character-name"><%if d.finish %>Finish your drink<%else%>Take a drink<%end%></td>
        <td class="drink-rule character-name"><%= d.rule %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_url, :class=>"bottomaligned btn btn-outline-light" %>
