<% content_for :title, "Death Pool - Drinking Game"%>
<div class="container">
  <div class="row">
    <pre id="title" class="mx-4 title text-center shadow-text w-100 ">Drinking    Game</pre>
  </div>
  <div class="row">
  </div>
  <div class="row mb-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 mb-4">
      <div id="drink-table" class="">
      <% Drink.all.each do |d| %>
        <% if d.hardcore %>
          <div class="drink drink-hardcore shadow-text default-color"><%if d.finish %> Finish your drink <%else%> Take a drink <%end%><%= d.rule %></div>
        <% else %>
          <div class="drink drink-rule shadow-text default-color"><%if d.finish %> Finish your drink <%else%> Take a drink <%end%><%= d.rule %></div>
        <%end%>
      <% end %>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
