<% content_for :title, "Death Pool - Drinking"%>
<pre class="text-center title shadow-text default-color">Drinking   Game</pre>
<div id="drink-table">
<table class="table table-condensed table-drink default-color shadow-text">
  <tbody class="unit-table">
    <% Drink.all.each do |d| %>
      <% if d.id%2==0 %>
        <% if d.hardcore %>
          <tr class="tablerow1" style="background-color:rgba(240,0,0,0.3)">
        <%else%>
          <tr class="tablerow1">
        <%end%>
          <td class="drink-rule"><%if d.finish %>Finish your drink <%else%>Take a drink <%end%><%= d.rule %></td>
        </tr>
      <% else %>
        <% if d.hardcore %>
          <tr class="tablerow2" style="background-color:rgba(240,0,0,0.3)">
        <%else%>
          <tr class="tablerow2">
        <%end%>
          <td class="drink-rule"><%if d.finish %>Finish your drink <%else%>Take a drink <%end%><%= d.rule %></td>
          </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
</div>
<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
