<% content_for :title, "Death Pool - Edit Player"%>
<div id="sign-in" class="text-center title shadow-text">Edit Player</div>
<div class="row content" style ="margin-left: 0px;margin-right: 0px;">
  <div class="col-sm-4">
  </div>
  <!-- <div class="col-sm-4">
    <%= render 'formEdit', user: @user %>
  </div> -->
  <div class="col-sm-4">
  </div>
</div>

<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
