<% content_for :title, "Death Pool - Edit Player"%>
<% flash.each do |key, value| %>
      <div class="alert alert-danger text-center" role="alert"><%= value %></div>
<% end %>
<div class="container">
  <div class="text-center title shadow-text">Account Settings</div>
  <div class="text-center user shadow-text"><%=@user.username%></div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="text-center sub-title shadow-text">Update Password</div>
      <%= render 'formEdit', user: @user %>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
