<% content_for :title, "Death Pool - Sign Up"%>
<pre class="title text-center shadow-text">Game   of   Thrones   Death   Pool</pre>
<div class="container">
  <div class="row m-auto clock">
    <div class="col-sm-4 align-items-center justify-content-center">
      <div class="text-center">
        <div class="time-info text-center">Predictions can be made until <strong>ONE</strong> hour before season 8 starts</div>
        <div style="">
          <ul class=list-inline>
            <li class="list-inline-item">
              <p id="day" class="time"></p>
              <p class="date">Days</p>
            </li>
            <li class="list-inline-item">
              <p id="hour" class="time"></p>
              <p class="date">Hours</p>
            </li>
            <li class="list-inline-item">
              <p id="minute" class="time"></p>
              <p class="date">Min</p>
            </li>
            <li class="list-inline-item">
              <p id="second" class="time"></p>
              <p class="date">Sec</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class='position row align-items-center'>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="rule-card">
      <article class="card-body">
        <%= link_to 'Login', root_url, :class=>"btn btn-outline-light top-aligned-left", :role=>"button" %>
      	<div class="card-title text-center mb-4 mt-1 h2">Sign Up</div>
        <%= render 'form', user: @user %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
 bg = $("#background").css("background-image")
 if(bg.includes("got1") || bg.includes("got5")){
   $(".time").css('color',"#f9f2de")
   $(".date").css('color',"#f9f2de")
   $(".time-info").css('color',"#f9f2de")
 }
});
// Set the date we're counting down to
</script>
