<% content_for :title, "Death Pool - Sign Up"%>
<pre class="text-center title shadow-text">New   Player</pre>
<div class="row content" style ="margin-left: 0px;margin-right: 0px;">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <%= render 'form', user: @user %>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<%= link_to 'Back', root_url, :class=>"bottomaligned btn btn-outline-light" %>
