<div class="position row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="bonus-card">
      <article class="card-body">
<%= form_tag password_path do |form| %>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
         <%= password_field_tag :password_confirmation, value:nil,placeholder:"Confirm Password",  autocomplete:"new-password", class:"form-control"%>
      </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
    <%= submit_tag "Update Password", class:"btn btn-outline-light btn-main shadow-text" %>
    </div> <!-- form-group// -->
  </form>
<% end %>
</article>
</div>
</div>
<div class="col-sm-4">
</div>
</div>
