<pre class="title text-center shadow-text default-color" style="margin:0px">Character   Statistics</pre>
<div class="row content">
  <div class="col-sm-4">
    <pre class="title sub-title text-center shadow-text default-color" style="margin:0px">Most Predicted to stay alive</pre>
  </div>
  <div class="col-sm-4">
    <pre class="title sub-title text-center shadow-text default-color" style="margin:0px">Most Predicted to die</pre>
  </div>
  <div class="col-sm-4">
    <pre class="title sub-title text-center shadow-text default-color" style="margin:0px">MOst predicted to be a wight</pre>
  </div>
</div>
