/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "button.scss";

html {
  min-height: 100% !important;
  height: 100%;
}

@font-face{
  font-family: 'Game of Thrones';
  src: url('/assets/GameofThrones.ttf') format('truetype');
}

pre, div, table, body, .default-color{
  color: #f9f2de;
}
body{
  font-family: "Georgia",'Nunito'
}


.title{
  font-size: 5rem;
  font-family: 'Game of Thrones';
  padding-top:1rem
}

.house-title{
  font-size: 3rem;
  font-family: 'Game of Thrones';
}

.user{
  font-size: 4rem;
  margin-bottom:1rem;
}

.sub-title{
  font-size: 2.5rem
}

.words{
  font-size: 1.5rem
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:-2;
  height:100%;
  width:100%;
  position:fixed
}

.image-house {
  height:9.6rem;width:8rem;
}

.image-house-sm{
  height:4.8rem;width:4rem;
}

.col-sm-2{
  margin-top:1rem;
  margin-bottom: 1rem;
}

.btn-glyph{
  padding:0px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
  font-size: 2rem;
}

.shadow-text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nowrap {
  white-space:nowrap !important;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.topalignedright{
  position:fixed;
  top:0;
  margin-bottom:0.1vw;
  right:0;
  margin-right:0.1vw
}
.glyphicon-ok{
  color:green
}
.glyphicon-remove{
  color:red
}

.topalignedleft{
  position:absolute;
  top:0;
  margin-top:0.1vw;
  left:0;
  margin-left:0.1vw
}

.top-aligned-left{
  margin:0.1vw;
  position: absolute;
}
.bottomaligned {
  position:fixed;
  bottom:0;
  margin-bottom:0.1vw;
  left: 0;
  margin-left:0.1vw}

.bottom-aligned-middle {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.bottomalignedright {
  position:fixed;
  bottom:0;
  margin-bottom:0.1vw;
  right: 0;
  margin-right:0.1vw
 }

 .progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #3490dc;
    transition: width .6s ease;
    width:100%;
}

.alive{
  background-color:#52ad6a !important;
  border-color: #262626 !important;
}

.dead{
  background-color:#ad5252 !important;
  border-color: #262626 !important;
}

.wight{
  background-color:#5296ad !important;
  border-color: #262626 !important;
}

.no-prediction{
  background-color: #808080 !important;
  border-color: #262626 !important;
}

.progress {
  width:100%;
    display: flex;
    height: 4rem;
    overflow: hidden;
    font-size: .675rem;
    background-color: #e9ecef;
    border-radius:1rem;
    border: solid 1px;
    border-color: #262626
}

.field_with_errors{
  width: 90%
}

.input-group-prepend{
  flex: 0 0 auto;
}

.input-group-form{
  flex: 1 0 auto;
}
