/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "button.scss";

html {
  min-height: 100% !important;
  height: 100%;
}

@font-face{
  font-family: 'Game of Thrones';
  src: url('/assets/GameofThrones.ttf') format('truetype');
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:-2;
  height:100%;
  width:100%;
  position:fixed
}

.btn-glyph{
  padding:0px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
  font-size: 2rem;
}

.shadow-text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nowrap {
  white-space:nowrap;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.topalignedright{
  position:fixed;
  top:0;
  margin-bottom:0.1vw;
  right:0;
  margin-right:0.1vw
}

.bottomaligned {
  position:fixed;
  bottom:0;
  margin-bottom:0.1vw;
  left: 0;
  margin-left:0.1vw}

.bottomalignedmiddle {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.bottomalignedright {
  position:fixed;
  bottom:0;
  margin-bottom:0.1vw;
  right: 0;
  margin-right:0.1vw
 }

 
