.btn{
  font-size: 3rem;
  padding:0.1rem;
  margin:0.1rem;
  white-space: pre-wrap;
  border-width:0.15rem;
  border-color: black;
  border-radius: 4px;
}

.btn-main{
  width:100%;
  background-color:rgba(40,40,40,0.1);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.btn-main:hover{
  text-shadow: none;
}

.btn-sign-up{
  color:white;
  //text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.btn-log-out{
  font-size: 2.5rem;
  //background-color: rgba(255,255,255,0.5);
  text-shadow: none;
  width:unset;
}

.btn-outline-light{
  border-color: rgb(230,230,230)
}

.btn-dead, .btn-alive, .btn-walker, .btn-just-dead{
  font-size: 1.5rem;
  color: white;
  border-color: grey;
  background-color: rgba(30,30,30,0.5);
  padding: 3px;
  width: 100%;
}

.btn-dead {
  color:red;
}
.btn-alive{
  color:white
}
.btn-just-dead{
  color:white
}

.btn-walker {
  color:#0080ff
}
