.btn{
  white-space: pre-wrap;
}

.btn-main{
  font-size: 1.5rem;
  width:100%;
  color: #f9f2de;
}

.btn-main:hover, .btn-back:hover{
  text-shadow: none;
}

.btn-outline-light{
  border-color: rgb(230,230,230)
}

.btn-character{
  font-size: 1.5rem;
  border-color: grey;
  background-color: rgba(30,30,30,0.2);
  width: 100%;
  color:#f9f2de;
}

.btn-character:hover{
  background-color: rgba(30,30,30,0.7);
  color:#f9f2de;
}

.btn-dead {
  background-color:red;
}
.btn-alive{
  background-color:rgb(200,200,200)
}
.btn-just-dead{
  color:white;
}

.btn-walker {
  background-color:#0080ff
}

@media only screen and (max-width: 800px) {
  .btn-back{
    font-size: 2rem
  }
}
