

.drink{
  padding:1rem;
  margin-top:0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem
}
.drink-rule{
  background-color:rgba(20,20,20,0.4);

}

.drink-hardcore{
  background-color:rgba(220,0,0,0.4);
}


@media only screen and (max-width: 800px) {
  .drink{
    font-size: 1rem
  }
}
