// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title{
  font-size: 7rem;
  color: rgba(220,220,220,1);
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
}

#current-user{
  font-size: 2.5rem;
  color:white;
}

.table-top{
  color:white;
  font-size:2rem
}

.character-name{
  font-size: 1.5rem;
  vertical-align:middle !important;
}

.character-dead,.character-walker{
}

#payed{
  color:Grey;
  margin-left:1vw
}

#scum{
  color:red;
  font-size: 2.5rem;
  margin-left:1vw
}

#rules-title{
  font-size: 3rem;
  color: white;
}

.rule{
  font-size: 1.5rem;
  color:white
}
