// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title{
  font-size: 7rem;
  color: rgba(220,220,220,1);
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
}

.user-title{
  font-family: none
}

#current-user{
  font-size: 1.75rem;
  color:white;
  background-color: rgba(40,40,40,0.5)
}

.table-top{
  color:white;
  font-size:2rem
}

.character-name{
  font-size: 1.5rem;
  vertical-align:middle !important;
}

.table-characters{
  color:white;
  margin-left:1vw;
  margin-bottom: 0.1vw;
  width:auto !important;
}

.tablerow1{
  background-color:(240,240,240,0.4)
}
.tablerow2{
  background-color:rgba(0, 0, 0, 0.4)
}

.character-dead,.character-walker{
}

#payed{
  color:Grey;
  margin-left:1vw
}

#scum{
  color:red;
  font-size: 2.5rem;
  margin-left:1vw
}

#rules-title{
  font-size: 3rem;
  color: white;
}

.rule{
  font-size: 1.5rem;
  color:white
}
.answer{
  font-size: 1.5rem;
  color:black
}
.drink-rule{
  font-size: 1.5rem
}

.user-list{
  font-size: 1.5rem
}
.drink-odd{
  color:rgb(200,200,200)
}
 #user-logged-in{
   padding-bottom:4rem
}
#drink-table{
}

@media only screen and (max-width: 800px) {
  .character-name{
    font-size: 2rem;
  }
  .drink {
    font-size: 3rem
  }
  .drink-rule{
   font-size: 2rem;
  }
  .title{
    font-size: 4rem;
  }
  #current-user{
    font-size: 1.25rem
  }
  .btn-log-out{
    font-size: 1.5rem !important
  }
  .user-title{
    font-size: 2.5rem
  }

  .user-column{
    padding-left:0px !important;
    padding-right:5px !important;
  }
}

.hardcore{
  color:red
}
