// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title{
  font-size: 7rem;
  color: rgba(220,220,220,1);
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
}

#current-user{
  font-size: 2.5rem;
  color:white;
}

.table-top{
  color:white;
  font-size:2rem
}

.character-name{
  font-size: 1.5rem
}
