// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-in{
  padding: 1rem
}

#sign-in-form{
  padding:1rem
}

.form-text{
  font-size: 2rem;
  color: white;
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
}

.form-input{
  font-size: 2rem;
  color: #262626;
  font-weight: normal;
  font-style: normal;
  width:100%
}
