// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form{
  margin-top: 35%;
}

#sign-in-form{
  padding:1rem
}

.form-text{
  font-size: 2rem;
  color: white;
  font-family: 'Game of Thrones';
}

.form-input{
  font-size: 2rem;
  color: #262626;
  width:100%;
}

.bonus-card{
  background-color:rgba(20,20,20,0.4);
  border-radius: 1rem;
}

.question{
  font-size: 1.5rem;
  padding-top:0.5rem;
}

.input-answer-from{
  font-size:1.5rem
}

.progress-bar-text{
  font-size: 2rem;
}

.character-list{
  margin-top: 1rem;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.character{
  width: 22%;
  margin:0.5rem !important;
  padding: 0.5rem;
}

.p-character-image{
  width: 8rem;
}

.p-character-name{
  width: 30%;
}

.p-character-buttons{
  width: 70%;
}

.question-and-answer{
  margin-left: 0.5rem;
}
