<div class="container">
  <pre class="title text-center shadow-text">Rules</pre>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div id="rules" class="">
        <ul class="list-group list-group-flush">
          <% Rule.all.each do |r| %>
            <li id="rule<%=r.rid%>"class="list-group-item rule"><%=r.rid%>. <%=r.rule%></li >
          <%end%>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>
</div>
<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>

<script>
$(document).ready(function () {
 bg = $("#background").css("background-image")
 if(bg.includes("got1")){
   $(".rule").css('color',"#f9f2de").addClass("shadow-text");
 }
});
</script>
